{% extends 'base.html' %}

{% load static from staticfiles %}

{% block page_title %}Products{% endblock %}

{% block page_content %}
    <div class="products-container">
        <div class="row justify-content-center">
            {% for post in blog_post %}
                <div class="col-xs-12 col-sm-10 col-lg-5 col-xl-3 card">
                    <div class="d-flex product-image-container">
                        <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ post.image }}')"></div>
                    </div>
                    <div class="product-text-container">
                        <h4>{{ post.title }}</h4>                       
                        <p>{{ post.content }}</p>
                        <p><strong>Author: </strong>{{ post.author.get_full_name | capfirst }}</p>
                        <p><strong>Pet: </strong>{{ post.animal_name }}</p>
                        <hr>
                        <p><i>{{ post.published_date }} | {{ post.views }}</i></h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "fixed_footer.html" %}
{% endblock %}