{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Create Blogpost{% endblock %}

{% block page_content %}
    <div class="container form-container">
        <div class="text-center">
            <h2>Create a Blogpost</h2>
        </div>
        <div class="text-center donate-text-container">
            <p>Below you can share your personal story and experience with 2nd Paws.For example if
            your cat liked a certain product purchased through our webshop or how a donation you made
            made a difference. Simply fill out all the fields in the form below, press 'create blogpost'
            and it will be published on our blog.</p>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-6 card">
                <form class="form-group" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ blog_form | as_bootstrap }}
                    <button type="submit" class="btn btn-secondary">Create Blogpost</button>
                </form>
            </div>
        </div>
    </div>
    {% include "fixed_footer.html" %}
{% endblock %}