{% extends 'base.html' %}

{% load static from staticfiles %}

{% block page_title %}Frequently Asked Questions{% endblock %}

{% block page_content %}
    <div class="products-container">
        <div class="col text-center accordion-container">
            <h2><i id="question-icon" class="far far fa-comment-dots"></i>Frequently Asked Questions</h2>
        <div>
        <div class="container col-sm-10 col-md-8 col-lg-6">
            <div id="accordion">
                <div class="faq-accordion">
                    <div class="card-header" id="headingOne">
                        <h6 class="mb-0">
                            <button class="btn btn-link accordion-button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Do I need an account to donate or buy a product?</button>
                        </h6>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p><strong>2nd <i class="fas fa-paw" aria-hidden="true"></i> Paws:</strong></p>
                            <p class="card accordion-card">The answer is both yes and no.Visitors will be able to view the blog, browse through the full stock of donated products
                            available for purchase or make a monetary donation without creating an account. But in order to donate/purchase a product
                            or to write a blogpost, visitors have to sign up and create an account and be logged in.
                        </div>
                    </div>
                </div>
                <div class="faq-accordion">
                    <div class="card-header" id="headingTwo">
                        <h6 class="mb-0">
                            <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What does it cost to create and account/be a member?</button>
                        </h6>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p><strong>2nd <i class="fas fa-paw" aria-hidden=true"></i> Paws:</strong></p>
                            <p class="card accordion-card">We are a non-profit organization and creating an account and being a member of 2nd Paws is always free of charge. Yay!</p>
                        </div>
                    </div>
                </div>
                <div class="faq-accordion">
                    <div class="card-header" id="headingThree">
                        <h6 class="mb-0">
                            <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How do I purchase a product?</button>
                        </h6>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <p><strong>2nd <i class="fas fa-paw" aria-hidden=true"></i> Paws:</strong></p>
                            <p class="card accordion-card">In order to purchase a product, you first need to create an account by clicking on the 'registration' tab in the
                            navigation bar. Once you've created an account and are logged in, you can browse the shop freely, add items to your shopping cart
                            by clicking on the 'add to cart' button accordion purchase the product by following the step-by-step checkout process.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-accordion">
                    <div class="card-header" id="headingThree">
                        <h6 class="mb-0">
                            <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">How do I donate a product?</button>
                        </h6>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <p><strong>2nd <i class="fas fa-paw" aria-hidden=true"></i> Paws:</strong></p>
                            <p class="card accordion-card">In order to donate a product, you first need to create an account by clicking on the 'registration' tab in the
                            navigation bar. Once you've created an account and are logged in, you can click on the 'donate' link in the top navigation bar,
                            followed by clicking on 'donate product'. Fill out all the fields in the donation form and hit submit. Once you've submitted the
                            information of the product you want to donate, prepare the product for shipping and send it to:<strong> 2nd Paws AB, Furry Street
                            55, 150 60 Stockholm</strong></p>
                        </div>
                    </div>
                </div>
                <div class="faq-accordion">
                    <div class="card-header" id="headingThree">
                        <h6 class="mb-0">
                            <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">If my donated product gets sold, who receives the money?</button>
                        </h6>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            <p><strong>2nd <i class="fas fa-paw" aria-hidden=true"></i> Paws:</strong></p>
                            <p class="card accordion-card">All profits generated after maintenance costs of this website are evenly distributed and forwarded to the major
                            cat and dog shelters in Stockholm.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-accordion">
                    <div class="card-header" id="headingThree">
                        <h6 class="mb-0">
                            <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Who pays for the shipping costs of donated products?</button>
                        </h6>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            <p><strong>2nd <i class="fas fa-paw" aria-hidden=true"></i> Paws:</strong></p>
                            <p class="card accordion-card">Shipping costs are covered by the donator.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-accordion">
                    <div class="card-header" id="headingThree">
                        <h6 class="mb-0">
                            <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Can I donate products if I'm not living in Sweden/Stockholm?</button>
                        </h6>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body">
                            <p><strong>2nd <i class="fas fa-paw" aria-hidden=true"></i> Paws:</strong></p>
                            <p class="card accordion-card">Yes, but you have to cover the shipping costs to Sweden yourself.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-accordion">
                    <div class="card-header" id="headingThree">
                        <h6 class="mb-0">
                            <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Can I purchase products from your website if I'm living outside of Sweden?</button>
                        </h6>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body">
                            <p><strong>2nd <i class="fas fa-paw" aria-hidden=true"></i> Paws:</strong></p>
                            <p class="card accordion-card">At the moment we do not ship to any other countries than Sweden. Sorry!</p>
                        </div>
                    </div>
                </div>
                <div class="faq-accordion">
                    <div class="card-header" id="headingThree">
                        <h6 class="mb-0">
                            <button class="btn btn-link collapsed accordion-button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">I've purchased a product, how long do I have to wait for delivery?</button>
                        </h6>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                        <div class="card-body">
                            <p><strong>2nd <i class="fas fa-paw" aria-hidden=true"></i> Paws:</strong></p>
                            <p class="card accordion-card">Average shipping time is between 3-5 days. During holiday periods, please allow for 1-2 extra days of shipping.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "fixed_footer.html" %}
{% endblock %}