{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Password Reset{% endblock %}

{% block page_content %}
    <div class="row justify-content-center form-container">
        <div class="col-md-4 text-center">
            <form class="form-group" method="POST">
                <h5 class="password-reset-header">Please specify your email address to receive instructions for resetting your password:</h5>

                {% csrf_token %}

                {{ form.email.errors }}

                {{ form | as_bootstrap }}

                <input type="submit" value="Reset Password" class="btn btn-secondary"/></p>
            </form>
        </div>
    </div>
    {% if messages %}
        <div>
            {% for message in messages %}
                {{ message}}
            {% endfor %}
        </div>
    {% endif %}
    {% include "fixed_footer.html" %}
{% endblock %}
