{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Donate a Product{% endblock %}

{% block page_content %}
    <div class="container form-container">
        <div class="text-center">
            <h2>Donate a Product</h2>
        </div>
        <div class="text-center donate-text-container">
            <p>We are delighted that you have chosen to donate a product to 2nd Paws and through
            that support the local cat and dog shelters in Stockholm. To donate a product, please
            fill out the form below and click on the 'Donate' button. Once you have completed and
            submitted the form, please prepare your donated product for shipping, send it to us
            and we will take care of the rest for you.</p>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-6 card">
                <form class="form-group" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ product_form | as_bootstrap }}
                    <button type="submit" class="btn btn-secondary">Donate</button>
                </form>
            </div>
        </div>
    </div>
    {% include "fixed_footer.html" %}
{% endblock %}