{% extends 'base.html' %}

{% load static from staticfiles %}

{% block page_title %}Products{% endblock %}

{% block page_content %}

<div class="products-container">
    <div class="row">
            <div class="col-lg-3">
                <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            </div>
            <div class="col-lg-5 card product-text-container">
                <h4>{{ product.title }}</h4>
                <p>{{ product.description }}</p>
                <h6><strong>Suitable for: </strong>{{ product.animal }}s</h6>
                <h6><strong>Condition: </strong>{{ product.condition }}</h6>
                <h6><strong>Price: </strong>{{ product.price }} €</h6>
                {% if user.is_authenticated %}
                <form method="POST" action="#">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class=input-group-btn>
                        <button class="btn btn-light" type="submit">Add to cart</button>
                        </span>
                    </div>        
                </form>
                {% else %} {% endif %}
            </div>
    </div>
</div>

{% endblock %}