{% extends 'base.html' %}

{% load static from staticfiles %}

{% block page_title %}Products{% endblock %}

{% block page_content %}
    <div class="products-container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-8 col-lg-4 col-xl-4 card">
                <div>
                    <img class="product-image" src="{{ MEDIA_URL }}{{ product.image }}">
                </div>
                <div class="product-text-container">
                    <h4>{{ product.title }}</h4>
                    <p>{{ product.description }}</p>
                    <h6><strong>Suitable for: </strong>{{ product.animal }}s</h6>
                    <h6><strong>Condition: </strong>{{ product.condition }}</h6>
                    <h6><strong>Price: </strong>{{ product.price }} €</h6>
                        {% if user.is_authenticated %}
                            <form method="POST" action="{% url 'add_item_to_cart' product.id %}">
                                {% csrf_token %}
                                <input name="quantity" type="hidden" value="1"class="form-control">
                                <button class="btn btn-secondary" type="submit">Add to cart</button>
                            </form>
                        {% else %}
                            <div class="input-group">
                                <a href="{% url 'login' %}" class="btn btn-secondary">Buy</a>
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include "fixed_footer.html" %}
{% endblock %}