{% extends 'base.html' %}

{% load static from staticfiles %}

{% block page_title %}Products{% endblock %}

{% block page_content %}
    <div class="products-container">
        <div class="col-md-12 text-center standard-headline">
            <h2>Donated Products Available For Purchase</h2>
            <hr>
        </div>
        <div class="row justify-content-center">
            {% for product in products %}
                <div class="col-xs-12 col-sm-4 col-lg-3 card">                    
                    <div>
                        <a href="{{ MEDIA_URL }}{{ product.image }}" target="_blank"><img class="product-image rounded" src="{{ MEDIA_URL }}{{ product.image }}"></a>
                    </div>
                    <div class="product-text-container">
                        <h4>{{ product.title }}</h4>
                        <h6><strong>Suitable for: </strong>{{ product.animal }}s</h6>
                        <h6><strong>Condition: </strong>{{ product.condition }}</h6>
                        <h6><strong>Price: </strong>{{ product.price }} €</h6>
                        <div class="row">
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-secondary">Read More</a>
                            {% if user.is_authenticated %}
                                <form method="POST" action="{% url 'add_item_to_cart' product.id %}">
                                    {% csrf_token %}
                                        <button class="btn btn-secondary" type="submit">Add to cart</button>
                                        <input name="quantity" type="hidden" value="1" class="form-control" readonly>
                                </form>
                            {% else %}
                                <a href="{% url 'login' %}" class="btn btn-secondary">Buy</a>
                            {% endif %}
                        </div>        
                    </div>
                </div>
                {% empty %}
                    <div class="col-12 no-cart-items">
                        <h4>No products found.</h4>
                    </div>
            {% endfor %}
        </div>
    </div>
    {% include "fixed_footer.html" %}
{% endblock %}