{% extends 'base.html' %}

{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block page_title %}Checkout{% endblock %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
{% endblock %}

{% block page_content %}

<div class="products-container">
    <div class="row justify-content-center">
        {% for item in cart_items %}
            <div class="col-xs-8 col-sm-6 col-lg-4 col-xl-4 card">
                <div class="d-flex">
                    <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                </div>
                <div class="product-text-container">
                    <h4>{{ item.product.title }}</h4>
                    <h6><strong>Price: </strong>{{ item.product.price }} €</h6>
                    <h6><strong>Quantity: </strong>{{ item.quantity }}</h6>
                    <form class="form-inline" method="POST" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
                            <div class="input-group">
                                <div class="input-group-addon"><strong>Qty: </strong>{{ item.quantity }}</div>
                            </div>
                        </div>                        
                        <input name="quantity" type="hidden" value="0" class="form-control">
                        <button type="submit" class="btn btn-light"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Remove</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row justify-content-end">
        <div class="cart-total">
            <p><strong>Total: </strong>{{ total }}€</p>
        </div>
    </div>
    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        <legend>Payment Details</legend>

        <div id="credit-card-errors" style="display:none">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <div class="form-group col-md-6">
            {{ order_form | as_bootstrap }}
        </div>

        <div class="form-group col-md-6">
            {{ payment_form | as_bootstrap }}
        </div>

        {% csrf_token %}
        <div class="form-group col-md-12">
            <input class=" btn btn-light" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
</div>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>

{% if messages %}
        <div>
            {% for message in messages %}
                {{ message}}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}