{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login{% endblock %}

{% block page_content %}
    <div class="row justify-content-center form-container">
        <div class="col-md-4 card">
            <form class="form-group" method="POST">
                {% csrf_token %}
                {{ login_form | as_bootstrap }}
                <p>Forgot your password? You can reset it <a href="{% url 'password_reset' %}">here</a>.</p>
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </div>
    </div>
    {% include "fixed_footer.html" %}
{% endblock %}