{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login{% endblock %}

{% block page_content %}
    <div class="row justify-content-center form-container">
        <div class="col-md-4 card">
            <form class="form-group" method="POST">
                {% csrf_token %}
                {{ login_form | as_bootstrap }}
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
            <p>Not a member yet? To sign up for a FREE account <a href="{% url 'registration' %}">click here</a>.</p>
            <p>Forgot your password? <a href="{% url 'password_reset' %}">Click here</a>.</p>
        </div>
    </div>
    {% include "fixed_footer.html" %}
{% endblock %}