{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login{% endblock %}

{% block page_content %}
    <div class="row justify-content-center form-container">
        <div class="col-md-4 card">
            <form class="form-group" method="POST">
                {% csrf_token %}
                {{ login_form | as_bootstrap }}
                <button type="submit" class="btn btn-light">Login</button>
            </form>
        </div>
    </div>
    {% if messages %}
        <div>
            {% for message in messages %}
                {{ message}}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}