{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <script rel="stylesheet" src="https://kit.fontawesome.com/1cbdb627c6.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        {% block head_js %}
        {% endblock head_js %}
        <title>2nd-Paws/{% block page_title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand navbar-title" href="{% url 'index' %}">2ND<i class="fas fa-paw"></i>PAWS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'index' %}#about">About 2nd Paw</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'faq' %}">FAQ</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'contact' %}">Contact Us</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Browse Shop</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'all_products' %}">All Products</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'products_animal_cat' %}">Cat Products</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'products_animal_dog' %}">Dog Products</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'products_category_clothes' %}">Clothes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'products_category_toys' %}">Toys</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'products_category_supplies' %}">Supplies</a>
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'get_blog_posts' %}">View All Blog Posts</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'create_blog_post' %}">Create Blog Post</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'get_blog_posts' %}">Blog</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Donate</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'donate_product' %}">Donate Product</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'make_donation' %}">Support Us</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'userprofile' %}">My Page</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% if product_count > 0 %}
                            <li class="nav-item active">
                                <a aria-label="Shopping Cart" class="nav-link" href="{% url 'view_cart' %}">
                                    <span class="cart-icon"><i class="fas fa-shopping-cart"></i>
                                        <span class="sr-only">Shopping Cart</span>
                                        <label class="badge badge-light">{{ product_count }}</label>
                                    </span>
                                </a>
                            </li>
                        {% endif %}                     
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Donate</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'login' %}">Donate Product</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'make_donation' %}">Support Us</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'registration' %}">Register</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        {% if product_count > 0 %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'view_cart' %}">
                                    <span class="cart-icon"><i class="fas fa-shopping-cart"></i>
                                        <label class="badge badge-light">{{ product_count }}</label>
                                    </span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                    <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search The Shop" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        {% block page_content %}
        {% endblock %}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        {% load sweetify %}{% sweetify %}
    </body>
</html>